# A jupyter notebook to run PyVOLCANS.

In [1]:
import pyvolcans.pyvolcans_func as pvf

In [2]:
# Prepare arguments
volcano_input = 'Hekla'
weights = {'tectonic_setting': 0.2,
           'geochemistry': 0.2,
           'morphology': 0.2,
           'eruption_size': 0.2,
           'eruption_style': 0.2
          }
assert sum(weights.values()) == 1  # Weights must add up to 1
count = 10

# Calculate analogy scores
weights = pvf.set_weights_from_args(weights)
volcans_result = pvf.calculate_weighted_analogy_matrix(volcano_input, weights)
top_analogues, volcano_name = pvf.get_analogies(volcano_input, volcans_result, count)
pvf.warn_on_perfect_analogues(result=top_analogues)

In [3]:
# Display the top 10 best matches
top_analogues

,name,country,smithsonian_id,total_analogy,ATs,AG,AM,ASz,ASt
1361,Torfajokull,Iceland,372050,0.941676,0.2,0.188235,0.187584,0.180280,0.185577
1364,Bardarbunga,Iceland,373030,0.921407,0.2,0.188235,0.187584,0.172727,0.172861
1354,Prestahnukur,Iceland,371070,0.919877,0.2,0.188235,0.189474,0.169091,0.173077
1355,Langjokull,Iceland,371080,0.915929,0.2,0.188235,0.177193,0.169091,0.181410
1351,Hengill,Iceland,371050,0.911855,0.2,0.192157,0.173684,0.169091,0.176923
1350,Brennisteinsfjoll,Iceland,371040,0.907751,0.2,0.164706,0.184211,0.169091,0.189744
1366,Kverkfjoll,Iceland,373050,0.906833,0.2,0.188235,0.187584,0.169091,0.161923
1368,Fremrinamar,Iceland,373070,0.905074,0.2,0.188235,0.168421,0.169091,0.179327
1177,Ecuador,Ecuador,353011,0.901611,0.2,0.164706,0.194737,0.169091,0.173077
211,Marion Island,South Africa,234070,0.892960,0.2,0.141176,0.200000,0.169091,0.182692

In [4]:
# Check the analogy for a specific volcano by name
volcans_result.loc[volcans_result['name'] == 'Santorini']

,name,country,smithsonian_id,total_analogy,ATs,AG,AM,ASz,ASt
21,Santorini,Greece,212040,0.63384,0.0,0.16732,0.110526,0.186667,0.169327

In [5]:
# Check the analogy for a specific volcano by ID
volcans_result.loc[volcans_result['smithsonian_id'] == 371050]

,name,country,smithsonian_id,total_analogy,ATs,AG,AM,ASz,ASt
1351,Hengill,Iceland,371050,0.911855,0.2,0.192157,0.173684,0.169091,0.176923